<div class="container">
  <div class="row">
    
<!-- <h1>IEVN1003</h1>
<hr>
<app-product-list></app-product-list> -->
<!-- <p>Eso es un saludo...</p> -->

<app-ejemplo1></app-ejemplo1>

<!-- <div>
  {{title}}
</div>

<div>La suma de 2+2 es {{2+2}} </div>

<div>El dloble de 3 es {{duplicarNumero(3)}} </div>

<h2>Datos de la pelicula </h2>
<div>El nombre de la pelicula es : {{pelicula.nombre | uppercase}}</div> 
<div>El año de la Pelicula es: {{pelicula.fechaLanzamiento | date: 'dd-mm-yy'}} </div>
<div>El precio de la pelicula es: {{pelicula.precio|currency}} </div> -->



  </div>
</div>